body {
    background-color: black;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
}

form {
    border: 1px solid turquoise;
    border-radius: 1rem;
    padding: 10%;
    font-size: xx-large;
}

form > * {
 margin: 5% 0;
} 

button {
    text-transform: uppercase;
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    color: white;
    background-color: black;
    letter-spacing: 0.1rem;
    border: none;
}

button:hover {
    border: none;
    color: black;
    background-color: white;
}

#rockBtn {
    border: 2px solid blue;
}

#rockBtn:hover {
    background-color: blue;
    color: white;
}

#paperBtn {
    border: 2px solid yellow;
}

#paperBtn:hover {
    background-color: yellow;
    color: black;
}

#scissorsBtn {
    border: 2px solid red
}

#scissorsBtn:hover {
    background-color: red;
    color: black;
}